In [1]:
%store -r one_year_data_nse
%store -r one_year_data_bse

In [2]:
import pandas as pd
nse=pd.DataFrame.from_dict(one_year_data_nse)
bse=pd.DataFrame.from_dict(one_year_data_bse)
datas=[nse, bse]

In [18]:
def calculate_support_resistance(data):
    pivot_point = (data['high'] + data['low'] + data['close']) / 3
    support_l1 = (pivot_point * 2) - data['high']
    support_l2 = pivot_point - (data['high'] - data['low'])
    resistance_l1 = (pivot_point * 2) - data['low']
    resistance_l2 = pivot_point + (data['high'] - data['low'])
    
    return pivot_point, support_l1, support_l2, resistance_l1, resistance_l2

pivot_point, support_l1, support_l2, resistance_l1, resistance_l2 = calculate_support_resistance(nse)

# Create a DataFrame to store the calculated levels
levels_data = pd.DataFrame({'Pivot Point': pivot_point,
                            'Support Level 1': support_l1,
                            'Support Level 2': support_l2,
                            'Resistance Level 1': resistance_l1,
                            'Resistance Level 2': resistance_l2})

print(len(levels_data["Pivot Point"]))

levels_data.head()

250

,Pivot Point,Support Level 1,Support Level 2,Resistance Level 1,Resistance Level 2
1970-01-01 00:00:00.000000000,22434.083333,22347.066667,22259.483333,22521.666667,22608.683333
1970-01-01 00:00:00.000000001,22479.150000,22339.300000,22163.950000,22654.500000,22794.350000
1970-01-01 00:00:00.000000002,22492.966667,22448.333333,22382.966667,22558.333333,22602.966667
1970-01-01 00:00:00.000000003,22637.983333,22578.666667,22491.033333,22725.616667,22784.933333
1970-01-01 00:00:00.000000004,22674.466667,22580.533333,22518.316667,22736.683333,22830.616667